<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Not Found</title>
    <link href="/css/dist/output.css" rel="stylesheet">
    <link href="/css/dist/main.css" rel="stylesheet">
  </head>
  <body class="bgcolor">
    <section>
    <div class="container mx-auto">

        <!-- for mobile -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
                <div class="container text-center">
                    <div class="marginip3">
                        <img class="items-center" src="/images/404glow.png" alt="404">
                    </div>
                    <p class="marginip text-white text-sm font-medium">Oops! Looks like you have lost in space...</p>
                    <div class="marginip2">
                        <a href="/"
                        class="rounded-md bg-palpink px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-palcream hover:text-gray-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Way Home?
                        </a>
                    </div>
                </div>

        </div>


        <div class="hidden lg:flex lg:gap-x-12">
            <div class="grid grid-cols-2 items-center h-screen">
                <div class="text-center">
                <p class="mb-32 text-white text-3xl font-medium">Oops! Looks like you have lost in space...</p> <br><br>
                <a href="#"
                class="rounded-md bg-palpink px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-palcream hover:text-gray-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Way Home?
                </a>
                </div>

                <div class="text-center">
                    <img src="/images/404glow.png" alt="404">
                </div>

            </div>

        </div>

        </div>
    </div>

    </section>
  </body>
</html>